@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'font.css';

.radix-themes {
  --default-font-family: 'fontbody', sans-serif !important;
}

:root {
  background-color: #000;
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--foreground-rgb));
}
