.home-section > header {
  @apply flex items-center justify-center shrink-0 w-full min-h-176 md:h-256 my-160 md:my-192 bg-wine-200 font-display text-6xl uppercase md:text-9xl lg:text-[192px];
}

.section-title-h3 {
  @apply text-4xl md:text-6xl font-bold;
}

.home-section-wordked-for {
  @apply border-r border-r-zinc-400 pr-24 sm:pr-36 sm:mr-8 text-base md:text-xl font-bold;
  word-spacing: 0.085em;
}
.home-stack-highlight {
  @apply flex gap-24 justify-center mt-56 md:gap-64  md:mt-96 lg:gap-64 lg:mt-128;
}

.home-stack-highlight svg {
  @apply text-zinc-600;
  width: 100%;
  height: 100%;
}

#introduction.home-section {
  @apply flex justify-center h-[100vh] min-h-[425px] md:min-h-[calc(100vw-250px)] lg:min-h-0 max-h-[1024px] pt-96 md:pt-128;

  background-image: url("../images/bg/hero-bg.svg");
  background-position-x: 20%;
  background-repeat: repeat-x;
}

@media screen(lg) {
  #introduction.home-section {
    background-position-x: 70%;
    background-size: cover;
  }
}

#introduction .title-display {
  @apply text-4xl  font-bold sm:text-7xl md:text-8xl lg:text-9xl;
  background: linear-gradient(
    94.23deg,
    #5374fa 12.41%,
    #fd9179 52.55%,
    #f58070 89.95%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#presentation.home-section {
  @apply flex justify-center h-[100%] min-h-[100vh] md:min-h-full pt-128 sm:pt-0;
}

#presentation.home-section.window-is-landscape {
  @apply pt-128;
}

#references.home-section {
  @apply flex justify-center pt-192;
}

#references.home-section.window-is-landscape {
  @apply pt-128;
}

#resume .experience-grid {
  @apply flex flex-col sm:flex-row gap-24 mt-64 p-24 bg-zinc-900;
}

#resume .experience-grid-group-card {
  @apply w-full md:max-w-[1/3];
}

#resume .experience-grid-group-card h4 {
  @apply text-xl font-bold;
}

#resume .experience-grid-group-list {
  @apply flex flex-col gap-20 md:gap-28 my-28;
}

#resume .experience-grid-group-list-item-main {
  @apply flex;
}

#resume .experience-grid-group-list-item-main p {
  @apply text-base sm:text-sm md:text-base;
}

#resume .experience-grid-group-list-item-main > :nth-child(2) {
  @apply ml-8 text-zinc-400;
}

#resume .experience-grid-group-list-item-sub {
  @apply flex flex-col gap-16 md:gap-24 border-l-4 border-l-zinc-700 mt-24 ml-16 pl-24;
}

#resume .experience-grid-group-list-item-sub p {
  @apply text-base sm:text-sm md:text-base;
}

#resume .job-experience-card {
  @apply flex items-start gap-24;
}

#resume .job-experience-card-experience-description {
  @apply app-typography text-sm;
}

#resume .job-experience-card-experience-description p:not(:first-child) {
  @apply mt-12;
}

#resume-skills .resume-skills-groups {
  @apply flex flex-col gap-64 mt-64;
}

#resume-skills .resume-skills-group {
  @apply flex flex-col gap-32;
}

#resume-skills .resume-skills-group h4 {
  @apply app-typography text-zinc-400 text-2xl font-bold;
}

#resume-skills .resume-skills-line {
  @apply flex flex-wrap gap-20;
}
#resume-skills .resume-skills-line-item {
  @apply inline-block w-48 md:w-56;
}

#resume-certification .certification-menu {
  @apply border-b-2 border-transparent pb-8 text-lg text-zinc-600 hover:text-zinc-400 font-bold;
}

#resume-certification .certification-menu.is-active {
  @apply border-wine-200 text-wine-200;
}
